<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title><%= title %></title>

    <link href="<%= favicon %>" rel="icon" type="image/png"/>

    <meta content="<%= description %>" name="description"/>
    <meta content="<%= keywords %>" name="keywords"/>

    <meta content="website" property="og:type"/>
    <meta content="<%= title %>" property="og:title"/>
    <meta content="<%= description %>" property="og:description"/>
    <meta content="<%= shareImage %>" property="og:image"/>

    <meta content="summary_large_image" name="twitter:card"/>
    <meta content="<%= title %>" name="twitter:title"/>
    <meta content="<%= description %>" name="twitter:description"/>
    <meta content="<%= shareImage %>" name="twitter:image"/>

    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />
    <script src="/config.js"></script>
</head>
<body class="font-sans antialiased">
<div id="root"></div>
<script src="/src/main.tsx" type="module"></script>
</body>
</html>
